.slick-dots {
  top: 325px;
  left: 5px;
}

.slick-dots li button:before {
  width: 11px !important;
  height: 11px !important;
  background-color: #fff;
  border-radius: 50%;
  color: #fff !important;
}

.slick-prev {
  left: 0% !important;
  z-index: 1;
}

.slick-next {
  right: 0% !important;
  z-index: 1;
}

.heroCarousel > .slick-prev:before {
  font-size: 23px;
  content: "←";
  text-align: center;
  position: absolute;
  top: 23px;
  left: 20px;
}
.heroCarousel > .slick-next:before {
  font-size: 23px;
  content: "→";
  text-align: center;
  position: absolute;
  top: 23px;
  left: 20px;
}
