@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x:hidden ;
}
/* 
.slick-prev{
    left:0% !important;
    z-index:1;

}

.slick-next{
    right:0% !important;
    z-index:1;
} */