@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x:hidden ;
}
/* 
.slick-prev{
    left:0% !important;
    z-index:1;

}

.slick-next{
    right:0% !important;
    z-index:1;
} */